{% extends 'advocate/ad_index.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="">
{#  <table width="200" border="1">#}
{#    <tr>#}
{#      <td><a href="/view_profile">view profile</a></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td><a href="/view_time_schedule">view time schedule</a></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td><a href="/allocate_users">allocated users</a></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td><a href="/upload_report">daily report</a></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td><a href="/manage_case_note">manage case note</a></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td><a href="/view_reply">send complaint and view reply</a></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td><a href="/view_feedback_and_rating">view feedback and rating</a></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td><div align="center"><a href="/">logout</a></div></td>#}
{#    </tr>#}
{#  </table>#}
</form>
</body>
{% endblock %}
