{% extends 'advocate/ad_index.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="adcmp">
    SEND COMPLAINTS
  <table width="237" border="1" class="table">
    <tr>
      <td width="227">complains
        <label>
        <input type="text" name="textfield" />
      </label></td>
    </tr>
    <tr>
      <td><label>
        <div align="center">
          <input type="submit" name="Submit" value="send" />
          </div>
      </label></td>
    </tr>
  </table>
</form>
</body>
{% endblock %}
