{% extends 'index.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1">
    <tr>
      <td><a href="case_type_management">case type managment</a></td>
    </tr>
    <tr>
      <td><a href="manage_entry_level_staff">entry level staff management</a></td>
    </tr>
{#    <tr>#}
{#      <td><a href="view_allocation">view Booking</a></td>#}
{#    </tr>#}
    <tr>
      <td><a href="view_complians_and_send_reply">view complains and send reply</a></td>
    </tr>
    <tr>
      <td><a href="view_feedback">view feedback</a></td>
    </tr>
    <tr>
      <td><a href="view_case_report">view case report</a></td>
    </tr>
{#    <tr>#}
{#      <td><a href="view_advocate_report">view advocate report</a></td>#}
{#    </tr>#}
    <tr>
      <td><a href="allocation_report">view booking report</a></td>
    </tr>
    <tr>
      <td><a href="view_payment_details">payment report</a></td>
    </tr>
    <tr>
      <td><a href="/">logout</a></td>
    </tr>
  </table>
</form>
</body>
{% endblock %}
