{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{% extends 'index.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1"class="table table-striped">
    <tr>
      <td><a href="#">Add and manage advocate</a></td>
    </tr>
    <tr>
      <td><a href="#">Add and manage schedule</a></td>
    </tr>
    <tr>
      <td><a href="#">View booking and case details</a></td>
    </tr>
    <tr>
      <td><a href="#">view payment</a></td>
    </tr>
    <tr>
      <td><a href="#">view case status report/payment</a></td>
    </tr>
    <tr>
      <td><a href="#">view enquiry and send reply</a></td>
    </tr>
    <tr>
      <td><div align="center"><a href="#">logout</a></div></td>
    </tr>
  </table>
</form>
</body>
{% endblock %}

