{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{% extends 'index.html' %}
{% block body %}

<body><p>.</p>
<form id="form1" name="form1" method="post" action="view_case_report_search#about">
  <table width="200" border="1"class="table table-striped">
    <tr>
      <td colspan="6">Date
        <label>
        <input type="date" name="textfield" value="{{ search }}" required/>
        <input type="submit" name="Submit" value="Search" />
      </label></td>
    </tr>
    <tr>
    <tr>
      <td>advocate</td>
      <td>case</td>
      <td>report</td>
      <td>Date</td>
    </tr>
      {% for i in val %}

    <tr>
        <td>{{ i.advocate.first_name }}{{ i.advocate.last_name }}</td>
      <td>&nbsp;{{ i.case_id.case }}</td>
      <td>{{ i.report }}</td>
      <td>{{ i.date }}</td>
    </tr>
       {% endfor %}
  </table>
</form>
</body>
{% endblock %}