{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{% extends 'index.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="361" height="126" border="1"class="table table-striped">
    <tr>
      <td width="45">case</td>
      <td width="79">case type </td>
      <td width="84">user name </td>
      <td width="71">advocate</td>
      <td width="48">&nbsp;</td>
    </tr>
      {% for i in val %}
    <tr>
      <td>{{ i.CASE.case}}</td>
      <td>&nbsp;{{i.ADVOCATE.CASETYPE.case_type }}</td>
      <td>{{ i.booking_date }}</td>
      <td>{{ i.status }}</td>
        <td>{{ i.date }}</td>

    </tr>


      {% endfor %}
  </table>
</form>
</body>
{% endblock %}
