{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{% extends 'index.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="view_advocate_report_serach#about">
  <table width="329" border="1"class="table table-striped">
    <tr>
      <td width="55">Date</td>
      <td colspan="2"><label>
        <input type="date" name="textfield" value="{{ search }}" required/>
        
        <div align="right">
          <input type="submit" name="Submit" value="Search" />
            </div>
      </label></td>
    </tr>
    <tr>

      <td width="81">advocte name </td>
      <td width="171">report</td>
        <td>Details</td>
        <td>date</td>
    </tr>
      {% for i in val %}
    <tr>
      <td>{{ i.advocate.first_name}}{{ i.advocate.last_name }}</td>
      <td><img src="{{ i.report.url }}" height="100dp" width="100dp" alt=""/></td>
      <td>{{ i.details}}</td>
      <td>{{ i.date}}</td>
    </tr>
       {% endfor %}
  </table>
</form>
</body>
{% endblock %}
