{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />#}
{#<title>Untitled Document</title>#}
{#</head>#}

{% if request.session['type'] == 'admin' %}
    {% extends 'index.html' %}
{% elif  request.session['type'] == 'entry_staff' %}
    {% extends 'entry_staff/entrystaff_index.html' %}
{% endif %}


{% block body %}


<body>
<form id="form1" name="form1" method="post" action="/add_advocate_post" enctype="multipart/form-data">
  <table width="338" border="1"class="table table-striped">
    <tr>
      <td width="75">first name </td>
      <td width="247"><input type="text" name="textfield" required pattern="[A-Z a-z.]{3,25}"/></td>
    </tr>
    <tr>
      <td>Last name </td>
      <td><input type="text" name="textfield2" required pattern="[A-Z a-z.]{3,25}"/></td>
    </tr>
    <tr>
      <td>case type </td>
      <td><select name="select">

          {% for i in val %}
              <option value="{{ i.id }}">{{ i.case_type }}</option>
          {%  endfor %}
      </select>
      </td>
    </tr>
    <tr>
      <td>Gender</td>
      <td><input name="radiobutton" type="radio" value="male" checked/>
      male
        <input name="radiobutton" type="radio" value="female" />
      female</td>
    </tr>
    <tr>
      <td>Place</td>
      <td><input type="text" name="textfield3" required/></td>
    </tr>
    <tr>
      <td>Post</td>
      <td><input type="text" name="textfield4" required/></td>
    </tr>
    <tr>
      <td>Pin</td>
      <td><input type="text" name="textfield5" required pattern="[0-9]{6}"/></td>
    </tr>
    <tr>
      <td>Qualification</td>
      <td><input type="text" name="textfield6" required/></td>
    </tr>
    <tr>
      <td>Experiance</td>
      <td><input type="text" name="textfield7" required/></td>
    </tr>
    <tr>
      <td>Phone</td>
      <td><input type="text" name="textfield8" required pattern="[0-9]{10}"/></td>
    </tr>
    <tr>
      <td>Email</td>
      <td><input type="text" name="textfield9" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}"/></td>
    </tr>
    <tr>
      <td>ID Proof</td>
      <td><input type="file" name="file" required /></td>
    </tr>
    <tr>
      <td>Photo</td>
      <td><input type="file" name="file1" required /></td>
    </tr>
    <tr>
      <td>Username</td>
      <td><input type="text" name="textfield10" required/></td>
    </tr>
    <tr>
      <td>Password</td>
      <td><input type="text" name="textfield11" required/></td>
    </tr>
    <tr>
      <td colspan="2"><div align="center">
        <input type="submit" name="Submit" value="Add" />
      </div></td>
    </tr>
    <tr>
      <td colspan="2">&nbsp;</td>
    </tr>
  </table>
  <div align="center"></div>
</form>
</body>
{% endblock %}
