{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{% extends 'entry_staff/entrystaff_index.html' %}
{% block body %}


<body>
<form id="form1" name="form1" method="post" action="/edit_adv">
  <table width="338" border="1"class="table table-striped">
    <tr>
      <td width="75">first name </td>
      <td width="247"><input type="text" name="textfield" value="{{ val.first_name }}" required pattern="[A-Z a-z.]{3,25}"/></td>
    </tr>
    <tr>
      <td>Last name </td>
      <td><input type="text" name="textfield2" value="{{ val.last_name }}" required pattern="[A-Z a-z.]{3,25}"/></td>
    </tr>
    <tr>
      <td>case type </td>
      <td><select name="select" >

          {% for i in val1 %}
              <option value="{{ i.id }}">{{ i.case_type }}</option>
          {%  endfor %}
      </select>
      </td>
    </tr>
    <tr>
      <td>Gender</td>
      <td><input name="radiobutton" type="radio" value="male" checked {% if val.gender == 'male' %}  {% endif %}/>
      male
        <input name="radiobutton" type="radio" value="female"{% if val.gender == 'female' %}{% endif %} />
      female</td>
    </tr>
    <tr>
      <td>Place</td>
      <td><input type="text" name="textfield3"value="{{ val.place }}" required pattern="[A-Z a-z.]{3,25}"/></td>
    </tr>
    <tr>
      <td>Post</td>
      <td><input type="text" name="textfield4"value="{{ val.post }}" required/></td>
    </tr>
    <tr>
      <td>Pin</td>
      <td><input type="text" name="textfield5"value="{{ val.pin }}" required pattern="[0-9]{6}"/></td>
    </tr>
    <tr>
      <td>Qualification</td>
      <td><input type="text" name="textfield6" value="{{ val.qualification }}" required/></td>
    </tr>
    <tr>
      <td>Experiance</td>
      <td><input type="text" name="textfield7"value="{{ val.experience }}" required/></td>
    </tr>
    <tr>
      <td>Phone</td>
      <td><input type="text" name="textfield8"value="{{ val.phone }}" required pattern="[0-9]{10}"/></td>
    </tr>
    <tr>
      <td>Email</td>
      <td><input type="text" name="textfield9"value="{{ val.email }}" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}"/></td>
    </tr>
      <td>ID Proof</td>
      <td><input type="file" name="file">
          <a href="{{ val.idproof.url }}" download="">download</a>
      </td>
    </tr>
    </tr>
      <td>Photo</td>
      <td><input type="file" name="file1">
          <img src="{{ val.image.url }}" alt="error" width="100" height="80">
      </td>

    </tr>

    <tr>
      <td colspan="2"><div align="center">
        <input type="submit" name="Submit" value="update" />
      </div></td>
    </tr>
    <tr>
      <td colspan="2">&nbsp;</td>
    </tr>
  </table>
  <div align="center"></div>
</form>
</body>
{% endblock %}
