<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1">
    <tr>
      <td><a href="manage_advocate">add and manage advocate</a></td>
    </tr>
{#    <tr>#}
{#      <td><a href="mng_schedule">add and manage schedule</a></td>#}
{#    </tr>#}
    <tr>
      <td><a href="/view_booking_and_case_details">view booking and case details</a></td>
    </tr>
{#    <tr>#}
{#      <td><a href="view_case_status_report_and_payment">view payment</a></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td><a href="">view case status report/payment</a></td>#}
{#    </tr>#}
    <tr>
      <td><a href="view_enquiry_and_send_reply">view enquiry and send reply</a></td>
    </tr>

{#    <tr>#}
{#      <td><a href="#">view allocation report</a></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td><a href="view_case_status_report_and_payment">payment report</a></td>#}
{#    </tr>#}
    <tr>
      <td><a href="/">logout</a></td>
    </tr>
  </table>
</form>
</body>
</html>
