{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{% extends 'entry_staff/entrystaff_index.html' %}
{% block body %}


<body>
<form id="form1" name="form1" method="post" action="/search_advocate#about">
  <table width="298" border="1"class="table table-striped">
    <tr>
      <td colspan="9">name
        <label>
            <input name="textarea" value='{{ n }}'>
{#        <textarea name="textarea" value='{{ n }}'></textarea>#}
        <input type="submit" name="Submit" value="Search" class="btn btn-dark"/>
      </label></td>
    </tr>
    <tr>
      <td width="11">name</td>
      <td width="19">gender</td>
      <td width="19">address</td>
      <td width="19">qualification</td>
      <td width="19">experiance</td>
      <td width="19">phone</td>
      <td width="54">email</td>
      <td width="54">Proof</td>
      <td width="86">&nbsp;</td>
    </tr>


{% for i in val %}

    <tr>
      <td>&nbsp;<img src="{{ i.image.url }}" alt="error" width="100" height="80">
          {{ i.first_name }} {{ i.last_name }}
      </td>
      <td>{{ i.gender }}</td>
      <td>&nbsp;{{ i.place }}{{ i.post }}{{ i.pin }}</td>
      <td>{{ i.qualification }}</td>
      <td>{{ i.experience }}</td>
      <td>{{ i.phone }}</td>
      <td>{{ i.email }}</td>
      <td><a href="{{ i.idproof.url }}" download="">download proof</a></td>
{#      <td><img src="{{ i.idproof.url }}" alt="error" width="100" height="80"></td>#}
      <td><p><a href="edit_advocate/{{i.id}}#about"><i class="bi bi-pencil-square"></i></a></p>
      <p><a href="delete_advocate/{{ i.login.id }}#about"><i class="bi bi-trash-fill"></i></a></p>
      <p><a href="mng_schedule/{{ i.id }}#about">schedule</a></p></td>
    </tr>

      {% endfor %}


    <tr>
      <td colspan="9">
          <div align="center">
<p><a href="add_advocate#about">Add</a></p>      </div></td>
    </tr>
  </table>
</form>
</body>
{% endblock%}
