{% extends 'entry_staff/entrystaff_index.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="217" border="1"class="table table-striped">
    <tr>
      <td colspan="4">date
      <input type="date" name="textfield" />
      <input type="submit" name="Submit" value="Search" /></td>
    </tr>
    <tr>
      <td width="38">date</td>
      <td width="70">from time </td>
      <td width="55">to time </td>
      <td width="26">&nbsp;</td>
    </tr>
        {% for i in val %}
    <tr>
      <td>{{ i.day }}</td>
      <td>{{ i.from_time }}</td>
        <td>{{ i.to_time }}</td>
      <td><p><a href="/edit_mng_schedule/{{ i.id }}">edit</a></p>
      <p><a href="/delete_mng_schedule/{{ i.id }}">delete</a></p></td>
    </tr>
      {%  endfor %}
    <tr align="center">
      <td colspan="4"><a href="/add_schedule#about">Add</a><div align="center">
      </td>
    </tr>
  </table>
</form>
</body>
{% endblock %}
