{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{% extends 'entry_staff/entrystaff_index.html' %}
{% block body %}


<body><p>.</p>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1"class="table table-striped">
    <tr>
      <td>case</td>
      <td>case details</td>
      <td>file</td>

    </tr>
      {% for i in val %}
    <tr>
      <td>{{ i.CASE.case }}</td>
      <td>{{ i.CASE.case_details }}</td>
      <td><a href="{{i.CASE.file.url}}" download>{{i.CASE.file}}</a></td>
    </tr>
      {% endfor %}
  </table>
</form>
</body>
{% endblock %}
