{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{% extends 'entry_staff/entrystaff_index.html' %}
{% block body %}

<body><p>.</p>
<form id="form1" name="form1" method="post" action="">
  <table width="287" border="1"class="table table-striped">
</br>
</br>
</br>
    <tr>

      <td width="28">date</td>
      <td width="117">payment details </td>
    </tr>
      {% for i in val %}
    <tr>
      <td>&nbsp;{{ i.date }}</td>
      <td>&nbsp;{{ i.amount }}</td>

    </tr>
      {% endfor %}
  </table>
</form>
</body>
{% endblock %}