{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{% extends 'entry_staff/entrystaff_index.html' %}
{% block body %}


<body><p>.</p>.
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1"class="table table-striped">.
    <tr>
      <td>username</td>
      <td>Advocate</td>
      <td>gender</td>
      <td>address</td>
      <td>phone</td>
      <td>email</td>
      <td>booking date </td>
      <td>booking status </td>
        <td></td>
    </tr>
      {% for i in val %}
    <tr>
      <td>{{ i.CASE.user.firstname }}{{ i.CASE.user.lastname }}</td>
      <td>{{ i.ADVOCATE.first_name }}{{ i.ADVOCATE.last_name }}</td>
      <td>{{ i.CASE.user.gender }}</td>
      <td>{{ i.CASE.user.place }}{{ i.CASE.user.post }}{{ i.CASE.user.pin }}</td>
      <td>{{ i.CASE.user.email }}</td>
      <td>{{ i.CASE.user.phone }}</td>
      <td>{{ i.booking_date }}</td>
      <td>{{ i.status }}</td>
      <td><a href="view_case_details_e/{{ i.id }}#about">view case details</a><br>
      <a href="view_case_status_report_and_payment/{{ i.id }}#about">view payment details</a></td>
    </tr>
      {% endfor %}
  </table>
</form>
</body>
{% endblock %}